@font-face {
  font-family: 'icomoon';
  src:  url('../icons_fonts/fonts/icomoon.eot?hj5lmw');
  src:  url('../icons_fonts/fonts/icomoon.eot?hj5lmw#iefix') format('embedded-opentype'),
    url('../icons_fonts/fonts/icomoon.ttf?hj5lmw') format('truetype'),
    url('../icons_fonts/fonts/icomoon.woff?hj5lmw') format('woff'),
    url('../icons_fonts/fonts/icomoon.svg?hj5lmw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about-me:before {
  content: "\e900";
}
.icon-clipboard:before {
  content: "\e901";
}
.icon-connectdevelop:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-graduation-cap:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-mug-hot:before {
  content: "\e908";
}
.icon-newspaper:before {
  content: "\e909";
}
.icon-question:before {
  content: "\e90a";
}
.icon-sack-dollar:before {
  content: "\e90b";
}
.icon-telegram:before {
  content: "\e90c";
}
.icon-viber:before {
  content: "\e90d";
}
