@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: black;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#canvas {
  display: block;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: url("../img/background-img.jpg") 0 0/cover no-repeat;
  -webkit-box-shadow: inset 0px 0px 100px 100px #000;
          box-shadow: inset 0px 0px 100px 100px #000;
  z-index: 1;
}

.circular-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 2;
}
.circular-menu__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-decoration: none;
  color: #2b2824;
  background: transparent;
  outline: none;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.circular-menu__item svg {
  width: 40px;
  fill: #fff;
  z-index: 2;
}
.circular-menu__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-decoration: none;
  background: transparent;
  outline: none;
  z-index: 2;
}
.circular-menu__button_plus, .circular-menu__button_plus::before, .circular-menu__button_plus::after {
  position: absolute;
  width: 40px;
  height: 6px;
  border-radius: 3px;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
  background: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 2px 0px #fff;
          box-shadow: 0px 0px 2px 0px #fff;
}
.circular-menu__button_plus {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.circular-menu__button_plus::before {
  content: "";
}
.circular-menu__button_plus::after {
  content: "";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.circular-menu__button_active .circular-menu__button_plus::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.circular-menu__button_active .circular-menu__button_plus::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.circular-menu__button:hover .circular-menu__button_plus::before, .circular-menu__button:hover .circular-menu__button_plus::after {
  -webkit-box-shadow: 0px 0px 6px 0px #fff;
          box-shadow: 0px 0px 6px 0px #fff;
}
.circular-menu__button .button-shell {
  -webkit-box-shadow: 0px 0px 4px 0px #000;
          box-shadow: 0px 0px 4px 0px #000;
}
.circular-menu__button:hover .button-shell {
  -webkit-box-shadow: 0px 0px 3px 7px #000;
          box-shadow: 0px 0px 3px 7px #000;
}
.circular-menu__button_active ~ .circular-menu__item .button-shell {
  -webkit-box-shadow: 0px 0px 4px 0px #000;
          box-shadow: 0px 0px 4px 0px #000;
}
.circular-menu__button_active ~ .circular-menu__item:hover .button-shell {
  -webkit-box-shadow: 0px 0px 3px 7px #000;
          box-shadow: 0px 0px 3px 7px #000;
}
.circular-menu__name-item {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 100px;
  min-height: 50px;
  text-align: center;
  font-family: "Permanent Marker";
  font-size: 26px;
  font-weight: 600;
  text-shadow: 0px 0px 6px #fff;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
  opacity: 0;
}
.circular-menu__name-item._active {
  opacity: 1;
}

.button-shell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  background-color: #000;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}

.button-shell_1 {
  -webkit-animation: button-shell_animate 6s linear infinite;
          animation: button-shell_animate 6s linear infinite;
}

.button-shell_2 {
  content: "";
  animation: button-shell_animate 4s linear infinite reverse;
}

.button-shell_3 {
  content: "";
  -webkit-animation: button-shell_animate 10s linear infinite;
          animation: button-shell_animate 10s linear infinite;
}

@-webkit-keyframes button-shell_animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes button-shell_animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}