@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: black;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  display: none;
}

.system-message {
  margin: 30vh auto;
  text-align: center;
  font-family: "Permanent Marker";
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0px 0px 6px #fff;
}

.loader__circle {
  margin: 10px auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  -webkit-animation: rotateing 1.2s linear infinite;
          animation: rotateing 1.2s linear infinite;
}

body {
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 550px;
  overflow: hidden;
}

#canvas {
  display: block;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: url("../img/background-img.jpg") 0 0/cover no-repeat;
  -webkit-box-shadow: inset 0px 0px 100px 50px #000;
          box-shadow: inset 0px 0px 100px 50px #000;
  z-index: 1;
}

.circular-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  z-index: 2;
}
.circular-menu__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-decoration: none;
  color: #2b2824;
  background: transparent;
  outline: none;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.circular-menu__item_icon {
  font-size: 30px;
  color: transparent;
  z-index: 2;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.circular-menu__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-decoration: none;
  background: transparent;
  outline: none;
  z-index: 2;
}
.circular-menu__button_plus, .circular-menu__button_plus::before, .circular-menu__button_plus::after {
  position: absolute;
  width: 40px;
  height: 6px;
  border-radius: 3px;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
  background: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 2px 0px #fff;
          box-shadow: 0px 0px 2px 0px #fff;
}
.circular-menu__button_plus {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.circular-menu__button_plus::before {
  content: "";
}
.circular-menu__button_plus::after {
  content: "";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.circular-menu__button_active .circular-menu__button_plus::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.circular-menu__button_active .circular-menu__button_plus::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.circular-menu__button:hover .circular-menu__button_plus::before, .circular-menu__button:hover .circular-menu__button_plus::after {
  -webkit-box-shadow: 0px 0px 6px 0px #fff;
          box-shadow: 0px 0px 6px 0px #fff;
}
.circular-menu__button .button-shell {
  -webkit-box-shadow: 0px 0px 4px 0px #111111;
          box-shadow: 0px 0px 4px 0px #111111;
}
.circular-menu__button:hover .button-shell {
  -webkit-box-shadow: 0px 0px 3px 7px #111111;
          box-shadow: 0px 0px 3px 7px #111111;
}
.circular-menu__button_active ~ .circular-menu__item .button-shell {
  -webkit-box-shadow: 0px 0px 4px 0px #111111;
          box-shadow: 0px 0px 4px 0px #111111;
}
.circular-menu__button_active ~ .circular-menu__item:hover .button-shell {
  -webkit-box-shadow: 0px 0px 3px 7px #111111;
          box-shadow: 0px 0px 3px 7px #111111;
}
.circular-menu__button_active ~ .circular-menu__item .circular-menu__item_icon {
  color: #fff;
}
.circular-menu__button_active ~ .circular-menu__item:hover .circular-menu__item_icon {
  text-shadow: 0px 0px 4px #fff;
}
.circular-menu__name-item {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 300px;
  min-height: 50px;
  text-align: center;
  font-family: "Permanent Marker";
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 0px 6px #fff;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
  opacity: 0;
  visibility: hidden;
}
.circular-menu__name-item._active {
  opacity: 1;
  visibility: visible;
}

.button-shell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #111111;
  background: #111111;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}

.button-shell_1 {
  -webkit-animation: rotateing 6s linear infinite;
          animation: rotateing 6s linear infinite;
}

.button-shell_2 {
  content: "";
  animation: rotateing 4s linear infinite reverse;
}

.button-shell_3 {
  content: "";
  -webkit-animation: rotateing 10s linear infinite;
          animation: rotateing 10s linear infinite;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.popup__body {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.popup__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  overflow: hidden;
}
.popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 3px solid #fff;
  opacity: 0.9;
  z-index: 10;
}
.popup__close span, .popup__close span::before, .popup__close span::after {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.popup__close span {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
}
.popup__close span::before {
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__close span::after {
  content: "";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.popup__close:hover, .popup__close:hover span::before, .popup__close:hover span::after {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 6px 0px #fff;
          box-shadow: 0px 0px 6px 0px #fff;
}
.popup__title {
  position: relative;
  width: 100%;
  padding: 15px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "Permanent Marker";
  font-size: 40px;
  font-weight: 600;
  text-shadow: 0px 0px 8px #fff;
  z-index: 9;
}
.popup__title::after {
  content: "";
  width: 98%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 1px;
  -webkit-box-shadow: 0px 6px 20px 7px #fff;
          box-shadow: 0px 6px 20px 7px #fff;
}
.popup__content {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.popup.open-popup {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.about {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.about-menu {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 400px;
  position: relative;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.about-menu__conteiner {
  position: absolute;
  top: 0;
  right: -160px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
  z-index: 3;
}
.about-menu__axix {
  position: absolute;
  top: 0;
  right: -160px;
  width: 400px;
  height: 400px;
  border: 3px solid #fff;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
  -webkit-animation: rotateing 10s linear infinite;
          animation: rotateing 10s linear infinite;
  z-index: 2;
}
.about-menu__axix::before, .about-menu__axix::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  z-index: -1;
}
.about-menu__axix::before {
  animation: rotateing 6s linear infinite reverse;
}
.about-menu__axix::after {
  -webkit-animation: rotateing 8s linear infinite;
          animation: rotateing 8s linear infinite;
}
.about-menu__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  text-decoration: none;
  color: #2b2824;
  background: transparent;
  outline: none;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.about-menu__item_icon {
  font-size: 40px;
  color: #fff;
  z-index: 2;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.about-menu__control-buttons {
  position: absolute;
  top: 0;
  right: 350px;
  width: 50px;
  height: 100%;
  z-index: 1;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.about-menu__control-buttons_clockwise, .about-menu__control-buttons_counter-clockwise {
  position: absolute;
  left: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
}
.about-menu__control-buttons_clockwise span, .about-menu__control-buttons_counter-clockwise span {
  position: absolute;
  left: 30px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.9;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.about-menu__control-buttons_clockwise span::before, .about-menu__control-buttons_clockwise span::after, .about-menu__control-buttons_counter-clockwise span::before, .about-menu__control-buttons_counter-clockwise span::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.9;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.about-menu__control-buttons_clockwise span::before, .about-menu__control-buttons_counter-clockwise span::before {
  left: 7px;
}
.about-menu__control-buttons_clockwise span::after, .about-menu__control-buttons_counter-clockwise span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 19px;
}
.about-menu__control-buttons_clockwise:hover span, .about-menu__control-buttons_clockwise:hover span::before, .about-menu__control-buttons_clockwise:hover span::after, .about-menu__control-buttons_counter-clockwise:hover span, .about-menu__control-buttons_counter-clockwise:hover span::before, .about-menu__control-buttons_counter-clockwise:hover span::after {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 6px 0px #fff;
          box-shadow: 0px 0px 6px 0px #fff;
}
.about-menu__control-buttons_clockwise {
  top: 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.about-menu__control-buttons_clockwise span {
  top: 50px;
}
.about-menu__control-buttons_clockwise span::before {
  top: -20px;
}
.about-menu__control-buttons_clockwise span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -7px;
}
.about-menu__control-buttons_counter-clockwise {
  bottom: 0;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
.about-menu__control-buttons_counter-clockwise span {
  bottom: 50px;
}
.about-menu__control-buttons_counter-clockwise span::before {
  bottom: -20px;
}
.about-menu__control-buttons_counter-clockwise span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: -7px;
}
.about-menu__control-buttons_close-button {
  display: block;
  position: absolute;
  top: 50%;
  left: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: transparent;
}
.about-menu__control-buttons_close-button span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.9;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.about-menu__control-buttons_close-button span::before, .about-menu__control-buttons_close-button span::after {
  content: "";
  position: absolute;
  right: -9px;
  width: 30px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.9;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.about-menu__control-buttons_close-button span::before {
  top: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.about-menu__control-buttons_close-button span::after {
  top: -9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.about-menu__control-buttons_close-button:hover span, .about-menu__control-buttons_close-button:hover span::before, .about-menu__control-buttons_close-button:hover span::after {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 6px 0px #fff;
          box-shadow: 0px 0px 6px 0px #fff;
}
.about-menu._close {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
}
.about-menu._close .about-menu__conteiner, .about-menu._close .about-menu__axix {
  right: -500px;
}
.about-menu._close .about-menu__control-buttons {
  right: 0px;
}
.about-menu._close .about-menu__control-buttons_close-button span::before, .about-menu._close .about-menu__control-buttons_close-button span::after {
  right: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 40px;
}
.about-menu._close .about-menu__control-buttons_close-button span::before {
  top: 12px;
}
.about-menu._close .about-menu__control-buttons_close-button span::after {
  top: -12px;
}
.about-content {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.about-content__conteiner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-top: 20px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.about-content__conteiner._active {
  opacity: 1;
  visibility: visible;
  overflow: auto;
  height: auto;
}
.about-greeting {
  width: 100%;
  min-height: 80vh;
  margin: 0 50px 0 0;
  background: url("../img/flag_for_about.png") 100%/contain no-repeat;
}
.about-greeting__content {
  width: 100%;
  padding: 15px 0;
}
.about-greeting__greeting {
  position: relative;
  max-width: 500px;
  margin: 10vw 20px 0 20px;
  -webkit-perspective: 400px;
          perspective: 400px;
}
.about-greeting__greeting p {
  display: block;
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  -webkit-transform: rotateY(20deg) rotateX(-20deg) translateX(45px);
          transform: rotateY(20deg) rotateX(-20deg) translateX(45px);
}
.about-greeting__greeting p::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: 30px;
  height: 30px;
  border: solid 4px #fff;
  border-color: #fff transparent transparent #fff;
}
.about-greeting__greeting p::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: solid 4px #fff;
  border-color: transparent #fff #fff transparent;
}
.about-greeting__about-me {
  position: relative;
  max-width: 600px;
  margin: 5vw 20px 0 20px;
  -webkit-perspective: 400px;
          perspective: 400px;
}
.about-greeting__about-me p {
  display: block;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  text-align: justify;
  -webkit-transform: rotateY(-8deg) rotateX(8deg) translateX(-30px);
          transform: rotateY(-8deg) rotateX(8deg) translateX(-30px);
}
.about-greeting__about-me p::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -10px;
  width: 30px;
  height: 30px;
  border: solid 4px #fff;
  border-color: #fff #fff transparent transparent;
}
.about-greeting__about-me p::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -10px;
  width: 30px;
  height: 30px;
  border: solid 4px #fff;
  border-color: transparent transparent #fff #fff;
}

.skill {
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skill:nth-child(2n) {
  margin-left: 25%;
}
.skill__name {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skill__name span {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.diagram {
  padding: 20px;
}
.diagram__conteiner {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #666;
  margin: 0 auto;
}
.diagram__start-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.diagram__end-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.diagram__shield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #666), color-stop(50%, transparent));
  background: linear-gradient(to right, #666 50%, transparent 50%);
}
.diagram__value {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #777;
  -webkit-box-shadow: inset 0px 0px 15px 15px #666;
          box-shadow: inset 0px 0px 15px 15px #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.diagram__value span {
  font-size: 36px;
  font-weight: 500;
  font-family: "Permanent Marker";
  color: #111;
}

.project-card-gallery {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}
.project-card-gallery__conteiner {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: center;
          perspective-origin: center;
}
.project-card-gallery__conteiner:hover {
  z-index: 2;
}
.project-card-gallery__item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 1fr;
  grid-template-rows: 200px 1fr;
  border-radius: 10px;
  overflow: hidden;
  background: #444;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.project-card-gallery__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 20px 3px #000;
          box-shadow: inset 0px 0px 20px 3px #000;
}
.project-card-gallery__item:hover {
  -webkit-box-shadow: 0px 0px 20px 3px #fff;
          box-shadow: 0px 0px 20px 3px #fff;
}
.project-card-gallery__img {
  height: 200px;
  background: #333;
  overflow: hidden;
}
.project-card-gallery__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-card-gallery__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
}
.project-card-gallery__description div:last-child {
  margin-bottom: 0;
}
.project-card-gallery__title, .project-card-gallery__category, .project-card-gallery__date {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}
.project-card-gallery__field-name {
  color: #fff;
  margin-right: 10px;
}
.project-card-gallery__field-value {
  color: #fff;
}

.contacts-gallery {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.contacts-gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts-gallery__conteiner {
  width: 100px;
  height: 100px;
  margin: 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: center;
          perspective-origin: center;
}
.contacts-gallery__item {
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  border-radius: 25px;
  -webkit-box-shadow: inset 0px 0px 20px 3px #000;
          box-shadow: inset 0px 0px 20px 3px #000;
  -webkit-transition: 0.6s all 0s;
  transition: 0.6s all 0s;
}
.contacts-gallery__item:hover {
  -webkit-box-shadow: 0px 0px 20px 3px #fff;
          box-shadow: 0px 0px 20px 3px #fff;
}
.contacts-gallery__item:hover .contacts-gallery__icon {
  text-shadow: 0px 0px 6px #fff;
}
.contacts-gallery__link {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-gallery__icon {
  font-size: 45px;
  color: #fff;
  -webkit-transition: 0.4s all 0s;
  transition: 0.4s all 0s;
}

@-webkit-keyframes rotateing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media screen and (max-width: 800px) {
  .about {
    height: 100%;
    overflow-y: auto;
  }
  .about-menu {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .about-menu__control-buttons_close-button {
    display: none;
  }
  .about-content {
    height: auto;
    overflow: visible;
  }
  .about-greeting__greeting p, .about-greeting__about-me p {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0px);
            transform: rotateY(0deg) rotateX(0deg) translateX(0px);
  }
  .about-greeting__greeting p::before, .about-greeting__greeting p::after, .about-greeting__about-me p::before, .about-greeting__about-me p::after {
    display: none;
  }

  .skill {
    display: block;
  }
  .skill:nth-child(2n) {
    margin-left: 25px;
    margin-bottom: 30px;
  }
}